@import '_vars';
@import 'modules/header';
@import 'modules/folio';
@import 'modules/about';
@import 'modules/contact';
@import 'modules/footer';
@import 'modules/lightbox';

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: $mid;
}

.title {
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: left;
    width: 80%;
    margin: 20px auto 0;
    color: $mid;
}