<div id="border"></div>

<header id="header"><!-- can get rid of ID later-->
  <div id="logo">
    logo here
  </div>

  <div id="intro">
    <h2>Hai,<br>Daffodil here.<br>I'm into<br>dynamic data</h2>
  </div>

  <div id="nav">
    <ul>
      <li><a href="#">Folio</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Reel</a></li>
    </ul>
  </div>
</header>

<section id="folio">
  <div class="title">The Folio</div>

  <div class="folio-wrap">
    <div class="info">
      info{{!-- fetch info from database --}}
    </div>
    <div class="preview">
      preview{{!-- fetch image from db --}}
    </div>
  </div>
</section>

<section id="about">
  <div class="title">About Me</div>

  <div id="bio">
    <h2>Here is some lorem ipsum text. Here is more lorem ipsum text. blab laldksfj .dksj </h2>
  </div>

  <div id="tech">
    <img src="#" alt="">
    <img src="#" alt="">
    <img src="#" alt="">
    <img src="#" alt="">
    <img src="#" alt="">
  </div>

  <div id="snap"></div>
</section>

<section id="contact">
  <div class="title">Contact Me</div>

  <div id="note">Get in touch with me via social media or leave a message below.  You and me, we can make something the world will remember.</div>
  <form action="" id="contact-form" method="POST">
    <input placeholder="Your name" type="text" required autofocus>
    <input placeholder="Your email" type="text" required autofocus>
    <textarea placeholder="What's up?" type="text" required autofocus></textarea>
  
    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
  </form>
</section>

<footer id="footer"> <!--can get rid of ID after-->
  
</footer>