#about {
    background-color: #AAAAAA;
    display: flex;
    flex-direction: column;
    height: 100vh;

    #bio {
        width: 100%;

        h2 {
            width: 70%;
            margin: 0 auto;
        }
    }

    #tech {
        display: flex;
        justify-content: space-evenly;
    }

    #snap {
        background-image: url('something.jpg');
    }
}