#about {
    display: flex;
    flex-direction: column;
    height: 100vh;

    #bio {
        width: 100%;

        h2 {
            width: 80%;
            margin: 0 auto;
            font-family: 'Roboto Slab', serif;
            font-size: 0.8em;
        }
    }

    #tech {
        display: flex;
        justify-content: space-evenly;
    }

    #snap img {
        width: 100vw;
        margin-top: 60px;
    }

}