#contact {
    background-color: $mid;
    display: flex;
    flex-direction: column;
    height: 100%;

    .title {color: $light;}

    #form-content {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 20px auto;

        #note {
            font-size: 0.8em;
            line-height: 1.6em;
            color: $light;
            flex: 1;
        }

        form {
            flex: 2;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            font-family: 'Open sans', sans-serif;
    
            input, textarea, button {
                margin-bottom: 10px;
            }
            
            button {
                width: 30%;
                margin: 10px auto 0;
                background-color: transparent;
                border: 3px solid $main;
                font-family: 'Open sans', sans-serif;
                color: $main;
            }
        }
    }

}