#folio {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 0;
    background-color: $mid;
    width: 80%;
    margin: 0 auto;

    .folio-wrap {
        width: 100%;
        display: flex;
        margin: 10px 0;

        .info {
            width: 20%;
            font-size: 0.6em;
            color: $light;

            h2 {
                width: 70%;
                margin: 0 auto;
            }
        }

        .preview {
            width: 80%;
            overflow-y: hidden;

            a img {
                width: 100%;
            }
        }
    }
}