#folio {
    background-color: #CCCCCC;
    display: flex;
    flex-direction: column;
    height: 200vh;

    .folio-wrap {
        width: 100%;
        height: 160px;
        display: flex;

        .info {
            flex: 1;
            background-color: pink;
        }

        .preview {
            flex: 2;
            background-color: violet;
        }
    }
}