.lightbox { 
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 30;
    background-color: $lb;
    border-top: 30px solid $main;
    overflow-y: scroll;
    
    .lb-content {
        width: 80%;
        margin: 20px auto 0;
        color: $mid;

        h2{
            font-size: 1.25em;
        }

        p{
            font-size: 1em;
            line-height: 1.25em;
        }
    }

    .picture { 
        width: 80%;
        margin: 20px auto 0;

        img {
            width: 100%;
        }
    }

    .video {
        width: 80%;
        margin: 20px auto;

        video {
            width: 100%;
        }
    }

    .close {   
        position: fixed; 
        right: 5px;
        top: 0;
        font-size: 2em;
        padding: 0 8px 5px;
        color: $lb;
        cursor: pointer;
        z-index: 10;
    }
}

.show-lb { display: flex !important; flex-direction: column; }